@import 'normalize.css';
:root {
	--color-1: #d800ea;
	--color-2: #00ea63;
	--color-gray: #cccccc;
	--color-light-gray: #ededed;
}
body {
	padding: 15px;
	margin: auto;
	max-width: 960px;
}
a {
	text-decoration: none;
	color: var(--color-1);
}
article {
	font-size: 1.25em;
	line-height: 1.4em;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	font-size: 1em;
	line-height: 1.2em;
	padding: 30px;
	background-color: var(--color-light-gray);
	tab-size: 4;
}
code {
	background-color: var(--color-light-gray);
	font-size: 0.85em;
}
